/**pull-to-refresh Start**/
.nx-widget-pull-to-refresh {

  &-wrapper{
    position: relative;
  }
  &-scroller{
    position: relative;
    z-index:1;
  }
  &-indecator{
    z-index:0;
    height:40px;
    line-height: 40px;
    text-align: center;
    position: fixed;
    width:100%;
  }
}
/**pull-to-refresh  End**/
